@font-face{
	font-family:"FoundersGrotTest-BoldItalic";
	src: url("FoundersGrotTest-BoldItalic.woff") format("woff");
}

@font-face{
	font-family:"FoundersGrotTest-Light";
	src: url("FoundersGrotTest-Light.woff") format("woff");
}


body{
	background-color:#D1EC4B;
	font-family:FoundersGrotTest-BoldItalic;
	color:white;
	padding:0 0 0 0;
	margin:0 0 0 0;
}

.page{
position:relative;
width:100%;
padding:0 0 0 0;
margin:0 0 0 0;
}


.item{
	font-size: 60pt;
}
.color{
	color:#3636FF;
}
.menu{
	position: absolute;
	width: 50%;
	float:left;
	padding-left:30px;
}

.content{
	position: absolute;
	width: 50%;
	float: right;
	right:0px;
	font:FoundersGrotTest-Light;

}

.name{
	padding-top:10px; 
	font-size: 30pt;
	color:#3636FF;
}
.info{
	position: absolute;
	padding-top:250px;
	font-family:FoundersGrotTest-Light;
	font-size:15pt;
	width:45%;

}

.link2{
	font-size:15pt;
	font-family:FoundersGrotTest-Light;
}


p{
	font-size:15pt;
}

.pages{
	font-size:15pt;
	font-family:FoundersGrotTest-Light;
}
a{
	font-family:FoundersGrotTest-BoldItalic;
	color:white;
	font-size: 80pt;
	text-decoration: none;

}



