@font-face{
	font-family:"MaelstromTest-Bold";
	src: url("MaelstromTest-Bold.woff") format("woff");
}

body,html{
	margin:0;
	padding:0;
	font-size:15px;
}

.page{
	display: flex; /*inline block or inline-flex, inline flex*/
	flex-direction:row;
	flex-wrap: nowrap;

}

.r1{
	width:25vw;
	height:275vh;
	background-color: #F2E68D;
	overflow: scroll;
}

.r2{
	width:25vw;
	height:275vh;
	background-color: #FFD800;
	overflow: scroll;

}

.r3{
	width:25vw;
	height:275vh;
	background-color: #FFB100;
	overflow: scroll;

}

.r4{
	width:25vw;
	height:275vh;
	background-color: #FD6A00;
	overflow: scroll;

}

.scroll1{
	width:55vw;
	height:5rem;
	background-color: green;
	margin-top:30rem;
 	background-image: linear-gradient(to right, #F2E68D, white, #F2E68D);
 	text-align: center;
}

.t1{
 	font-family: MaelstromTest-Bold;
 	font-size: 2rem;
 	line-height: 5rem;
 	letter-spacing: .1rem;
}

.scroll2{
	width:55vw;
	height:10rem;
	margin-top:20rem;
 	background-image: linear-gradient(to right, #FFD800, white, #FFD800);
 	text-align: center;
}

.t2{
 	font-family: MaelstromTest-Bold;
 	font-size: 2rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 10rem;
}


.scroll3{
	width:55vw;
	height:5rem;
	margin-top:25rem;
	background-image: linear-gradient(to right, #FFB100, white, #FFB100);
 	text-align: center;
}

.t3{
 	font-family: MaelstromTest-Bold;
 	font-size: 2rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll4{
	width:55vw;
	height:10rem;
	margin-top:40rem;
	background-image: linear-gradient(to right, #FD6A00, white, #FD6A00);
 	text-align: center;
}

.t4{
 	font-family: MaelstromTest-Bold;
 	font-size: 2rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 10rem;
}

.scroll5{
	width:55vw;
	height:15rem;
	margin-top:25rem;
	background-image: linear-gradient(to right, #F2E68D , white, #F2E68D);
 	text-align: center;
}

.t5{
 	font-family: MaelstromTest-Bold;
 	font-size: 2rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 13rem;
}

.scroll6{
	width:55vw;
	height:10rem;
	margin-top:45rem;
	background-image: linear-gradient(to right, #FFD800 , white, #FFD800);
 	text-align: center;
}

.t6{
 	font-family: MaelstromTest-Bold;
 	font-size: 2rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll7{
	width:55vw;
	height:10rem;
	margin-top:35rem;
	background-image: linear-gradient(to right, #FFB100 , white, #FFB100);
 	text-align: center;
}

.t7{
 	font-family: MaelstromTest-Bold;
 	font-size: 2rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 7.5rem;
}

.scroll8{
	width:55vw;
	height:7rem;
	margin-top:25rem;
	background-image: linear-gradient(to right, #FD6A00 , white, #FD6A00);
 	text-align: center;
}

.t8{
 	font-family: MaelstromTest-Bold;
 	font-size: 2rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll9{
	width:55vw;
	height:10rem;
	margin-top:30rem;
	background-image: linear-gradient(to right, #F2E68D , white, #F2E68D);
 	text-align: center;
}

.t9{
 	font-family: MaelstromTest-Bold;
 	font-size: 2rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll10{
	width:55vw;
	height:10rem;
	margin-top:35rem;
	background-image: linear-gradient(to right, #FFD800 , white, #FFD800);
 	text-align: center;
}

.t10{
 	font-family: MaelstromTest-Bold;
 	font-size: 2rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll11{
	width:55vw;
	height:10rem;
	margin-top:20rem;
	background-image: linear-gradient(to right, #FFB100 , white, #FFB100);
 	text-align: center;
}

.t11{
 	font-family: MaelstromTest-Bold;
 	font-size: 2rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll12{
	width:55vw;
	height:10rem;
	margin-top:35rem;
	background-image: linear-gradient(to right, #FD6A00 , white, #FD6A00);
 	text-align: center;
}

.t12{
 	font-family: MaelstromTest-Bold;
 	font-size: 2rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}


/*//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////*/





@media screen and (max-width: 1400px){
.page{
	display: flex; /*inline block or inline-flex, inline flex*/
	flex-direction:row;
	flex-wrap: wrap;

}
.r1{
	width:50vw;
	height:275vh;
	background-color: #10069F;
	overflow: scroll;
}

.r2{
	width:50vw;
	height:275vh;
	background-color: #00B5E2;
	overflow: scroll;

}

.r3{
	width:50vw;
	height:275vh;
	background-color: #3A3A59;
	overflow: scroll;

}

.r4{
	width:50vw;
	height:275vh;
	background-color: #4797A8;
	overflow: scroll;
}


.scroll1{
	width:55vw;
	height:5rem;
	background-color: green;
	margin-top:30rem;
 	background-image: linear-gradient(to right, #10069F, white, #10069F);
 	text-align: center;
}

.t1{
 	font-family: MaelstromTest-Bold;
 	font-size:1.5rem;
 	line-height: 5rem;
 	letter-spacing: .1rem;
}

.scroll2{
	width:55vw;
	height:5rem;
	margin-top:20rem;
 	background-image: linear-gradient(to right, #00B5E2, white, #00B5E2);
 	text-align: center;
}

.t2{
 	font-family: MaelstromTest-Bold;
 	font-size:1.5rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}


.scroll3{
	width:55vw;
	height:5rem;
	margin-top:25rem;
	background-image: linear-gradient(to right, #3A3A59, white, #3A3A59);
 	text-align: center;
}

.t3{
 	font-family: MaelstromTest-Bold;
 	font-size:1.5rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll4{
	width:55vw;
	height:5rem;
	margin-top:40rem;
	background-image: linear-gradient(to right, #4797A8, white, #4797A8);
 	text-align: center;
}

.t4{
 	font-family: MaelstromTest-Bold;
 	font-size:1.5rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll5{
	width:55vw;
	height:10rem;
	margin-top:25rem;
	background-image: linear-gradient(to right, #10069F , white, #10069F);
 	text-align: center;
}

.t5{
 	font-family: MaelstromTest-Bold;
 	font-size:1.5rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll6{
	width:55vw;
	height:9rem;
	margin-top:45rem;
	background-image: linear-gradient(to right, #00B5E2 , white, #00B5E2);
 	text-align: center;
}

.t6{
 	font-family: MaelstromTest-Bold;
 	font-size:1.5rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 4.5rem;
}

.scroll7{
	width:55vw;
	height:5rem;
	margin-top:35rem;
	background-image: linear-gradient(to right, #3A3A59 , white, #3A3A59);
 	text-align: center;
}

.t7{
 	font-family: MaelstromTest-Bold;
 	font-size:1.5rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll8{
	width:55vw;
	height:5rem;
	margin-top:25rem;
	background-image: linear-gradient(to right, #4797A8 , white, #4797A8);
 	text-align: center;
}

.t8{
 	font-family: MaelstromTest-Bold;
 	font-size:1.5rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll9{
	width:55vw;
	height:5rem;
	margin-top:30rem;
	background-image: linear-gradient(to right, #10069F , white, #10069F);
 	text-align: center;
}

.t9{
 	font-family: MaelstromTest-Bold;
 	font-size:1.5rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll10{
	width:55vw;
	height:5rem;
	margin-top:35rem;
	background-image: linear-gradient(to right, #00B5E2 , white, #00B5E2);
 	text-align: center;
}

.t10{
 	font-family: MaelstromTest-Bold;
 	font-size:1.5rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll11{
	width:55vw;
	height:5rem;
	margin-top:20rem;
	background-image: linear-gradient(to right, #3A3A59 , white, #3A3A59);
 	text-align: center;
}

.t11{
 	font-family: MaelstromTest-Bold;
 	font-size:1.5rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll12{
	width:55vw;
	height:5rem;
	margin-top:35rem;
	background-image: linear-gradient(to right, #4797A8 , white, #4797A8);
 	text-align: center;
}

.t12{
 	font-family: MaelstromTest-Bold;
 	font-size:1.5rem;
 	letter-spacing:.1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

}




/*/////////////////////////////////////////
/////////////////////////////////////////
/////////////////////////////////////////
/////////////////////////////////////////
/////////////////////////////////////////
/////////////////////////////////////////
/////////////////////////////////////////
/////////////////////////////////////////
/////////////////////////////////////////
/////////////////////////////////////////*/





@media screen and (max-width: 772px){
.page{
	display: flex; /*inline block or inline-flex, inline flex*/
	flex-direction:row;
	flex-wrap: wrap;

}
.r1{
	width:50vw;
	height:275vh;
	background-color: #CB9993;
	overflow: scroll;
}

.r2{
	width:50vw;
	height:275vh;
	background-color: #DF4661;
	overflow: scroll;

}

.r3{
	width:50vw;
	height:275vh;
	background-color: #F88F98;
	overflow: scroll;

}

.r4{
	width:50vw;
	height:275vh;
	background-color: #CE0058;
	overflow: scroll;
}


.scroll1{
	width:55vw;
	height:5rem;
	background-color: green;
	margin-top:30rem;
 	background-image: linear-gradient(to right, #CB9993, white, #CB9993);
 	text-align: center;
}

.t1{
 	font-family: MaelstromTest-Bold;
 	font-size:1rem;
 	line-height: 5rem;
 	letter-spacing: .1rem;
}

.scroll2{
	width:55vw;
	height:5rem;
	margin-top:20rem;
 	background-image: linear-gradient(to right, #DF4661, white, #DF4661);
 	text-align: center;
}

.t2{
 	font-family: MaelstromTest-Bold;
 	font-size:1rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}


.scroll3{
	width:55vw;
	height:5rem;
	margin-top:25rem;
	background-image: linear-gradient(to right, #F88F98, white, #F88F98);
 	text-align: center;
}

.t3{
 	font-family: MaelstromTest-Bold;
 	font-size:1rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll4{
	width:55vw;
	height:5rem;
	margin-top:40rem;
	background-image: linear-gradient(to right, #CE0058, white, #CE0058);
 	text-align: center;
}

.t4{
 	font-family: MaelstromTest-Bold;
 	font-size:1rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll5{
	width:55vw;
	height:9rem;
	margin-top:25rem;
	background-image: linear-gradient(to right, #CB9993 , white, #CB9993);
 	text-align: center;
}

.t5{
 	font-family: MaelstromTest-Bold;
 	font-size:1rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 4.5rem;
}

.scroll6{
	width:55vw;
	height:5rem;
	margin-top:45rem;
	background-image: linear-gradient(to right, #DF4661 , white, #DF4661);
 	text-align: center;
}

.t6{
 	font-family: MaelstromTest-Bold;
 	font-size:1rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 4.5rem;
}

.scroll7{
	width:55vw;
	height:5rem;
	margin-top:35rem;
	background-image: linear-gradient(to right, #F88F98 , white, #F88F98);
 	text-align: center;
}

.t7{
 	font-family: MaelstromTest-Bold;
 	font-size:1rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll8{
	width:55vw;
	height:5rem;
	margin-top:25rem;
	background-image: linear-gradient(to right, #CE0058 , white, #CE0058);
 	text-align: center;
}

.t8{
 	font-family: MaelstromTest-Bold;
 	font-size:1rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll9{
	width:55vw;
	height:5rem;
	margin-top:30rem;
	background-image: linear-gradient(to right, #CB9993 , white, #CB9993);
 	text-align: center;
}

.t9{
 	font-family: MaelstromTest-Bold;
 	font-size:1rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll10{
	width:55vw;
	height:5rem;
	margin-top:35rem;
	background-image: linear-gradient(to right, #DF4661 , white, #DF4661);
 	text-align: center;
}

.t10{
 	font-family: MaelstromTest-Bold;
 	font-size:1rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll11{
	width:55vw;
	height:5rem;
	margin-top:20rem;
	background-image: linear-gradient(to right, #F88F98 , white, #F88F98);
 	text-align: center;
}

.t11{
 	font-family: MaelstromTest-Bold;
 	font-size:1rem;
 	letter-spacing: .1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

.scroll12{
	width:55vw;
	height:5rem;
	margin-top:35rem;
	background-image: linear-gradient(to right, #CE0058 , white, #CE0058);
 	text-align: center;
}

.t12{
 	font-family: MaelstromTest-Bold;
 	font-size:1rem;
 	letter-spacing:.1rem;
 	vertical-align: middle;
 	line-height: 5rem;
}

}





